body, html { 
    margin:0; 
    padding: 0; 
    overflow:hidden; 
    font-family:Arial; 
    font-size:20px 
}
#cr-stage {
    border:2px solid black; 
    margin:5px auto; 
    color:white 
}
#fielding
{
    position: absolute;
 
    left: 0px;
    top: 400px;
    width: 24px;
    height: 24px;
 
    /*margin: -16px 0 0 -16px; the increase via transform doesn’t influence the margin  */
 
    background: url('../img/fielding_sprite.png') no-repeat -0px -1530px;
 
    -webkit-animation-name: sprite-walking-right;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: step-start;
    /*-webkit-transform: scaleX(32) scaleY(32);  let’s increase the size of the element*/
    /*-webkit-transform-origin: top left;*/

}

#jeffrey
{
    position: absolute;
 
    left: 0px;
    top: 400px;
    width: 24px;
    height: 24px;
 
    /*margin: -16px 0 0 -16px; the increase via transform doesn’t influence the margin  */
 
    background: url('../img/jeffrey_sprite.png') no-repeat -0px -1530px;
 
    -webkit-animation-name: sprite-walking-right;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: step-start;
    /*-webkit-transform: scaleX(32) scaleY(32);  let’s increase the size of the element*/
    /*-webkit-transform-origin: top left;*/

}

.sprite
{
    position: absolute;
 
    left: 0;
    top: 400px;
    width: 24px;
    height: 24px;
 
    /*margin: -16px 0 0 -16px; the increase via transform doesn’t influence the margin  */
 
    background: url('../img/sprite.png') no-repeat -0px -1530px;
 
    -webkit-animation-name: sprite-walking-right;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: step-start;
    /*-webkit-transform: scaleX(32) scaleY(32);  let’s increase the size of the element*/
    /*-webkit-transform-origin: top left;*/
}


@-webkit-keyframes sprite-walking-down {
    0.000%
    {
        background-position: 0px 0;
    }
    10.000%
    {
        background-position: -90px 0;
    }
    20.000%
    {
        background-position: -120px 0;
    }
    30.000%
    {
        background-position: -150px 0;
    }
    40.000%
    {
        background-position: -180px 0;
    }
    50.000%
    {
        background-position: -210px 0;
    }
    60.000%
    {
        background-position: -240px 0;
    }
    70.000%
    {
        background-position: -270px 0;
    }
    80.000%
    {
        background-position: -300px 0;
    }
    90.000%
    {
        background-position: -330px 0;
    }
    100%
    {
        background-position: -360px 0;
    }
}
@-webkit-keyframes sprite-walking-up {
    0.000%
    {
        background-position: -0px -780px;
    }
    10.000%
    {
        background-position: -90px -780px;
    }
    20.000%
    {
        background-position: -120px -780px;
    }
    30.000%
    {
        background-position: -150px -780px;
    }
    40.000%
    {
        background-position: -180px -780px;
    }
    50.000%
    {
        background-position: -210px -780px;
    }
    60.000%
    {
        background-position: -240px -780px;
    }
    70.000%
    {
        background-position: -270px -780px;
    }
    80.000%
    {
        background-position: -300px -780px;
    }
    90.000%
    {
        background-position: -330px -780px;
    }
    100%
    {
        background-position: -360px -780px;
    }
}
@-webkit-keyframes sprite-walking-left {
    0.000%
    {
        background-position: -0px -1530px;
    }
    10.000%
    {
        background-position: -90px -1530px;
    }
    20.000%
    {
        background-position: -120px -1530px;
    }
    30.000%
    {
        background-position: -150px -1530px;
    }
    40.000%
    {
        background-position: -180px -1530px;
    }
    50.000%
    {
        background-position: -210px -1530px;
    }
    60.000%
    {
        background-position: -240px -1530px;
    }
    70.000%
    {
        background-position: -270px -1530px;
    }
    80.000%
    {
        background-position: -300px -1530px;
    }
    90.000%
    {
        background-position: -330px -1530px;
    }
    100%
    {
        background-position: -360px -1530px;
    }
}
@-webkit-keyframes sprite-walking-right {
    0.000%
    {
        background-position: -0px -1530px;
        -webkit-transform: rotateY(180deg);
    }
    10.000%
    {
        background-position: -90px -1530px;
        -webkit-transform: rotateY(180deg);
    }
    20.000%
    {
        background-position: -120px -1530px;
        -webkit-transform: rotateY(180deg);
    }
    30.000%
    {
        background-position: -150px -1530px;
        -webkit-transform: rotateY(180deg);
    }
    40.000%
    {
        background-position: -180px -1530px;
        -webkit-transform: rotateY(180deg);
    }
    50.000%
    {
        background-position: -210px -1530px;
        -webkit-transform: rotateY(180deg);
    }
    60.000%
    {
        background-position: -240px -1530px;
        -webkit-transform: rotateY(180deg);
    }
    70.000%
    {
        background-position: -270px -1530px;
        -webkit-transform: rotateY(180deg);
    }
    80.000%
    {
        background-position: -300px -1530px;
        -webkit-transform: rotateY(180deg);
    }
    90.000%
    {
        background-position: -330px -1530px;
        -webkit-transform: rotateY(180deg);
    }
    100%
    {
        background-position: -360px -1530px;
        -webkit-transform: rotateY(180deg);
    }
}

@-webkit-keyframes sprite-standing-down {
    0.000%
    {
        background-position: 0px 0px;
    }
    10.000%
    {
        background-position: 0px 0px;
    }
    20.000%
    {
        background-position: 0px 0px;
    }
    30.000%
    {
        background-position: 0px 0px;
    }
    40.000%
    {
        background-position: 0px 0px;
    }
    50.000%
    {
        background-position: 0px 0px;
    }
    60.000%
    {
        background-position: 0px 0px;
    }
    70.000%
    {
        background-position: 0px 0px;
    }
    80.000%
    {
        background-position: 0px 0px;
    }
    90.000%
    {
        background-position: 0px 0px;
    }
    100%
    {
        background-position: 0px 0px;
    }
}
@-webkit-keyframes sprite-standing-up {
    0.000%
    {
        background-position: 0px -780px
    }
    10.000%
    {
        background-position: 0px -780px;
    }
    20.000%
    {
        background-position: 0px -780px;
    }
    30.000%
    {
        background-position: 0px -780px;
    }
    40.000%
    {
        background-position: 0px -780px;
    }
    50.000%
    {
        background-position: 0px -780px;
    }
    60.000%
    {
        background-position: 0px -780px;
    }
    70.000%
    {
        background-position: 0px -780px;
    }
    80.000%
    {
        background-position: 0px -780px;
    }
    90.000%
    {
        background-position: 0px -780px;
    }
    100%
    {
        background-position: 0px -780px;
    }
}
@-webkit-keyframes sprite-standing-left {
    0.000%
    {
        background-position: 0px -1530px;
    }
    10.000%
    {
        background-position: 0px -1530px;
    }
    20.000%
    {
        background-position: 0px -1530px;
    }
    30.000%
    {
        background-position: 0px -1530px;
    }
    40.000%
    {
        background-position: 0px -1530px;
    }
    50.000%
    {
        background-position: 0px -1530px;
    }
    60.000%
    {
        background-position: 0px -1530px;
    }
    70.000%
    {
        background-position: 0px -1530px;
    }
    80.000%
    {
        background-position: 0px -1530px;
    }
    90.000%
    {
        background-position: 0px -1530px;
    }
    100%
    {
        background-position: 0px -1530px;
    }
}
@-webkit-keyframes sprite-standing-right {
    0.000%
    {
        background-position: 0px -1530px;
        -webkit-transform: rotateY(180deg);
    }
    10.000%
    {
        background-position: 0px -1530px;
        -webkit-transform: rotateY(180deg);
    }
    20.000%
    {
        background-position: 0px -1530px;
        -webkit-transform: rotateY(180deg);
    }
    30.000%
    {
        background-position: 0px -1530px;
        -webkit-transform: rotateY(180deg);
    }
    40.000%
    {
        background-position: 0px -1530px;
        -webkit-transform: rotateY(180deg);
    }
    50.000%
    {
        background-position: 0px -1530px;
        -webkit-transform: rotateY(180deg);
    }
    60.000%
    {
        background-position: 0px -1530px;
        -webkit-transform: rotateY(180deg);
    }
    70.000%
    {
        background-position: 0px -1530px;
        -webkit-transform: rotateY(180deg);
    }
    80.000%
    {
        background-position: 0px -1530px;
        -webkit-transform: rotateY(180deg);
    }
    90.000%
    {
        background-position: 0px -1530px;
        -webkit-transform: rotateY(180deg);
    }
    100%
    {
        background-position: 0px -1530px;
        -webkit-transform: rotateY(180deg);
    }
}